/* Change the background of the entire visible page */
body {
    background-color: #99c8df; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(66, 119, 155);
    font-size: 16px;
    font-family:'Typewriter', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(41, 124, 192); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border *
